<div class="new-course-container">
    <h1 class="new-course-title">New Course</h1>
    <div class="new-course-form-label">
        <label for="title">Title:</label>
        <p class="new-course-required">* required</p>
    </div>
    <input id="title" placeholder="Text input" name="title" type="text" class="new-course-form-input" />
    <div class="new-course-form-label">
        <label for="description">Description:</label>
        <p class="new-course-required">* required</p>
    </div>
    <textarea id="description" placeholder="Add description" name="description" type="text"
        class="new-course-form-input"></textarea>
    <div class="box">
        <div class="new-course-form-label">
            <label for="duration">Duration:</label>
            <p class="new-course-required">* required</p>
        </div>
        <input id="duration" placeholder="minutes" name="duration" type="number" class="new-course-form-input" />
    </div>
    <div class="box">
        <div class="new-course-form-label">
            <label for="date">Date:</label>
            <p class="new-course-required">* required</p>
        </div>
        <input type="date" class="new-course-form-input">
    </div>
    <div class="form-elements-inputs">
        <div class="new-course-form-label">
            <label for="title">Authors:</label>
            <p class="new-course-required">* required</p>
        </div>
        <input id="authors" placeholder="Start typing" name="authors" type="text" class="new-course-form-input" />
    </div>
    <div class="new-course-footer">
        <button class="new-course-btn">Cancel</button>
        <button class="new-course-save-btn">Save</button>
    </div>
</div>